.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-position.mat-column-position {
  color: red;
}

.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-name.mat-column-name {
  color: blue;
}

.mdc-data-table__content {
  color: aqua;
}

.mat-mdc-table.mdc-data-table__table.cdk-table.mat-elevation-z8 {
  margin-top: 20px;
  border: 1px solid red;
}
